[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.8.1"
hikari = "==2.0.0.dev110"
hikari-lightbulb = "==2.2.4"
hikari-miru = "==1.1.2"
lavasnek-rs = "==0.1.0a5"
miru = "==0.2.0"
python-dotenv = "==0.20.0"
uvloop = "==0.16.0"

[dev-packages]

[requires]
python_version = "3.10"
