pip~=21.0.1
attrs~=20.3.0
toml~=0.10.2
idna~=3.1
multidict~=5.1.0
hgapi~=1.7.4
isort~=5.8.0
colorama~=0.4.4
setuptools~=54.2.0
gitapi~=1.0.1
pylint~=2.7.4
astroid~=2.5.2
mccabe~=0.6.1
yarl~=1.6.3
aiohttp~=3.7.4.post0
wrapt~=1.12.1
certifi~=2020.12.5
chardet~=4.0.0
urllib3~=1.26.4
six~=1.15.0
python-dateutil~=2.8.1
commodity~=0.20210307
configobj~=5.0.6
websockets~=8.1
requests~=2.25.1